# Web Framework
fastapi==0.115.5
uvicorn==0.32.1

# Database
sqlalchemy==2.0.36

# HTTP Requests
requests==2.32.3

# Source Scrapers/APIs
google-play-scraper==1.2.7
app-store-web-scraper==0.2.0
google-api-python-client==2.154.0

# Sentiment Analysis
vaderSentiment==3.3.2
